<% if current_user.avatar.present? %>
  <%= image_tag current_user.avatar.url, class: "w-48 h-48 rounded-full mx-auto" %>
<% else %>
  <%= image_tag "user_default.png", class: "w-48 h-48 rounded-full mx-auto", alt: "Default Profile picture" %>
<% end %>
<h2 class="text-3xl font-semibold mt-3"><%= current_user.name %></h2>
<p class="text-gray-600 mt-1 text-lg"><%= current_user.email %></p>
    