<% @reviewed_workspaces.each do |workspace| %>
  <%= link_to workspace_path(workspace) do %>
  <div class="max-w-md mx-auto my-4 bg-white rounded-lg shadow-md p-3 text-center workspace-container flex flex-col items-center justify-center reviewed" style="display: none;">
    <!-- Workspaceの情報を表示 -->
    <h2 class="text-xl font-semibold mt-2"><%= workspace.title %></h2>
    <!-- 他のWorkspace情報もここで表示できます -->
  </div>
  <% end %>
<% end %>