<div class="flex items-center justify-center my-20">
  <div class="w-full max-w-md ">
    <h1 class="text-3xl font-bold text-center mb-4 text-gray-800">ユーザー情報変更</h1>
    <%= render 'edit_profile', user: @user %>
  </div>
</div>

<script>
  $(document).ready(function() {
    // 画像選択時にプレビューを表示する
    $('#avatar').on('change', function (e) {
      var input = $(this)[0];
      if (input.files && input.files[0]) {
        $('#avatar_preview').empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          var imagePreview = $('<div>').addClass('relative mx-2 mt-2');
          var image = $('<img>').attr('src', e.target.result).addClass('max-w-xs max-h-48').css('object-fit', 'cover');

          imagePreview.append(image);
          $('#avatar_preview').append(imagePreview);
        };
        reader.readAsDataURL(input.files[0]);
      }
    });
  });
</script>
