<div class="mx-auto text-center my-6 w-full lg:w-3/4 xl:w-1/2">
  <h1 class="text-2xl font-bold mb-2">WorkOasis プライバシーポリシー</h1>
  <p class="text-gray-600 text-sm">**有効日: 2023年10月1日**</p>
</div>

<div class="mx-auto my-6 w-full lg:w-3/4 xl:w-1/2">
  <p class="text-gray-700">WorkOasis（以下、「当アプリ」または「我々」）は、お客様（以下、「ユーザー」または「あなた」）のプライバシーを尊重し、お客様が提供する個人情報を保護することにコミットしています。このプライバシーポリシーは、WorkOasisアプリケーション（以下、「アプリ」）の利用に関連する個人情報の収集、使用、共有、および保護に関するポリシーを説明します.</p>
</div>

<div class="mx-auto my-6 w-full lg:w-3/4 xl:w-1/2">
  <h2 class="text-lg font-semibold mb-2 text-left">1. 収集される情報</h2>
  <p class="text-gray-700 text-left">当アプリは、アプリの利用にあたり、以下の情報を収集することがあります:</p>
  <ul class="list-disc ml-4 text-left">
    <li class="text-gray-700">ユーザー名 (name)</li>
    <li class="text-gray-700">メールアドレス (email)</li>
    <li class="text-gray-700">パスワード (password)</li>
  </ul>
</div>

<div class="mx-auto my-6 w-full lg:w-3/4 xl:w-1/2">
  <h2 class="text-lg font-semibold mb-2 text-left">2. 収集された情報の使用</h2>
  <p class="text-gray-700 text-left">当アプリは収集された情報を以下の目的で使用します:</p>
  <ul class="list-disc ml-4 text-left">
    <li class="text-gray-700">アカウントの作成と管理</li>
    <li class="text-gray-700">ログイン認証とセキュリティの強化</li>
    <li class="text-gray-700">サービスの提供および運営</li>
    <li class="text-gray-700">ユーザーサポートの提供</li>
    <li class="text-gray-700">サービスの改善と新機能の提供</li>
    <li class="text-gray-700">重要な通知の送信</li>
    <li class="text-gray-700">プロモーションやお知らせの送信（ユーザーの許可を得た場合）</li>
  </ul>
</div>

<div class="mx-auto my-6 w-full lg:w-3/4 xl:w-1/2">
  <h2 class="text-lg font-semibold mb-2 text-left">3. 個人情報の保護</h2>
  <p class="text-gray-700 text-left">当アプリは、適切な物理的、電子的、および管理的手段を使用して個人情報を保護します。ユーザー情報へのアクセスは制限され、データの機密性を維持するための措置が講じられています.</p>
</div>

<div class="mx-auto my-6 w-full lg:w-3/4 xl:w-1/2">
  <h2 class="text-lg font-semibold mb-2 text-left">4. 個人情報の共有</h2>
  <p class="text-gray-700 text-left">当アプリは、ユーザーの個人情報を以下の場合を除いて第三者と共有しません:</p>
  <ul class="list-disc ml-4 text-left">
    <li class="text-gray-700">ユーザーの同意を得た場合</li>
    <li class="text-gray-700">法的要件に従う必要がある場合</li>
  </ul>
</div>

<div class="mx-auto my-6 w-full lg:w-3/4 xl:w-1/2">
  <h2 class="text-lg font-semibold mb-2 text-left">5. プライバシーポリシーの変更</h2>
  <p class="text-gray-700 text-left">当アプリは、プライバシーポリシーを変更することがあります。変更がある場合、変更内容をアプリまたは当社ウェブサイトに掲載し、新しいプライバシーポリシーは掲載後に有効となります。変更が行われた場合、通知を受ける前にアプリの利用を継続することにより、新しいポリシーに同意したものとみなされます.</p>
</div>

