<div class="container mx-auto py-8">
  <div class="mb-8 flex justify-center">
    <p class="text-black font-semibold"><%= t('workspaces.index.click_to_explore') %></p>
  </div>

  <div class="mb-4 flex justify-center">
    <input id="searchBox" type="text" placeholder="都市名、住所、施設名、地名で検索" class="input input-bordered w-full input-sm max-w-xs mr-2" />
    <button class="btn btn-sm" onclick="searchLocationAndMove()">検索</button>
  </div>

  <div class="flex justify-center">
    <div id="map" class="w-full h-screen mb-4"></div>
  </div>
</div>

<style>
  #map {
    height: calc(100vh - 10rem);
  }
</style>

<script>
  let map;
  let infoWindows = [];

  function initMap() {
    const tokyoStation = { lat: 35.681240, lng: 139.766115 };

    map = new google.maps.Map(document.getElementById('map'), {
      center: tokyoStation,
      zoom: 12
    });

    const workspaces = <%= raw @workspaces.to_json %>;

    const spotTypeColors = {
    'cafe': '#D2691E', // カフェ: 明るい茶色
    'library': '#00FF00', // 図書館: 明るい緑色
    'coworking_space': '#0000FF', // コワーキングスペース: 青色
    'school': '#FFFF00', // 学校: 明るい黄色
    'others': '#A9A9A9' // その他: 明るい灰色
  };

    workspaces.forEach(workspace => {
      const spotTypeColor = spotTypeColors[workspace.spot_type];
      const customIcon = {
        path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
        scale: 5,
        fillColor: spotTypeColor,
        fillOpacity: 1,
        strokeColor: '#000000', // 輪郭線の色は固定で設定
        strokeWeight: 2,
      };

      const marker = new google.maps.Marker({
        position: { lat: parseFloat(workspace.latitude), lng: parseFloat(workspace.longitude) },
        map: map,
        title: workspace.title,
        icon: customIcon,
      });

      const infowindow = new google.maps.InfoWindow({
        content: workspace.title
      });

      marker.addListener('click', function () {
        if (infowindow.getMap()) {
          infowindow.close();
          map.setCenter(marker.getPosition());
          map.setZoom(12);
        } else {
          // 選択されたマーカー以外の情報ウィンドウを閉じる
          infoWindows.forEach(window => window.close());

          // 詳細ページへのリンクを作成
          const workspaceLink = `<a href="/workspaces/${workspace.id}">${workspace.title}</a>`;
          infowindow.setContent(workspaceLink);
          infowindow.open(map, marker);
          map.setCenter(marker.getPosition());
          map.setZoom(15); // 詳細ページへのリンクを表示するためにズームイン
        }
      });

      infoWindows.push(infowindow);
    });
  }

  function searchLocationAndMove() {
    let address = document.getElementById('searchBox').value;
    let geocoder = new google.maps.Geocoder();
    geocoder.geocode({ 'address': address }, function (results, status) {
        if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            map.setZoom(12);
        } else {
            alert('地域が見つかりませんでした: ' + status);
        }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>


