<h1 class="text-center my-10">ワークスペース一覧</h1>

<div class="text-center my-4"> <!-- プルダウンメニューを中央揃えに配置 -->
  <div class="dropdown dropdown-right inline-block">
    <label tabindex="0" class="btn btn-sm m-1 bg-neutral">並び替え</label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      <li><%= link_to '新着順', list_workspaces_path(latest: "true") %></li>
      <li><%= link_to '古い順', list_workspaces_path(old: "true") %></li>
      <li><%= link_to '評価順', list_workspaces_path(highest_rated: "true") %></li>
    </ul>
  </div>
</div>

<div class="container-fluid text-center px-0"> <!-- 右側の余白を削除 -->
  <div class="row justify-content-center">
    <%= render 'workspaces_index', workspaces: @workspaces %>
  </div>
</div>