<div class="flex items-center justify-center ">
  <div class="w-full max-w-md mt-16">
    <h1 class="text-3xl font-bold text-center mb-4 text-gray-800"><%= t('workspaces.new.title') %></h1>
    <%= form_with model: @workspace,  data: { turbo: false } do |f| %>
      
      <%= render 'form_fields', f: f %>
      
      <div class="my-4">
        <%= f.submit t('workspaces.new.submit_button'), class: "btn btn-secondary px-4 py-2 rounded hover:bg-blue-600 text-white" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    // 画像選択時にプレビューを表示する
    $('#workspace_image').on('change', function (e) {
      var input = $(this)[0];
      if (input.files && input.files[0]) {
        $('#image_preview').empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          var imagePreview = $('<div>').addClass('relative mx-2 mt-2');
          var image = $('<img>').attr('src', e.target.result).addClass('max-w-xs max-h-48').css('object-fit', 'cover');

          imagePreview.append(image);
          $('#image_preview').append(imagePreview);
        };
        reader.readAsDataURL(input.files[0]);
      }
    });
  });
</script>
