<div class="flex justify-center mb-4">
    <div class="mr-4 flex items-center">
        <div class="w-4 h-4 mr-2" style="background-color: #f3b79b;"></div>
        <p class="text-black font-semibold">カフェ</p>
    </div>
    <div class="mr-4 flex items-center">
        <div class="w-4 h-4 mr-2" style="background-color: #a1f7b5;"></div>
        <p class="text-black font-semibold">図書館</p>
    </div>
    <div class="mr-4 flex items-center">
        <div class="w-4 h-4 mr-2" style="background-color: #a4f5f9;"></div>
        <p class="text-black font-semibold">コワーキングスペース</p>
    </div>
    <div class="mr-4 flex items-center">
        <div class="w-4 h-4 mr-2" style="background-color: #f4f2a6;"></div>
        <p class="text-black font-semibold">学校</p>
    </div>
    <div class="mr-4 flex items-center">
        <div class="w-4 h-4 mr-2" style="background-color: #d1d1d1;"></div>
        <p class="text-black font-semibold">その他</p>
    </div>
  </div>