<div class="flash-message">
  <% if flash[:notice] %>
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 relative" role="alert">
      <span class="font-medium"><%= flash[:notice] %></span>
      <button class="close-button w-5 absolute top-4 right-2" onclick="closeFlashMessage(this)">X</button>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 relative" role="alert">
      <span class="font-medium"><%= flash[:alert] %></span>
      <button class="close-button w-5 absolute top-4 right-2" onclick="closeFlashMessage(this)">X</button>
    </div>
  <% end %>
</div>

<script>
  function closeFlashMessage(button) {
    // 親要素を取得し、それを削除
    var messageContainer = button.parentNode;
    messageContainer.parentNode.removeChild(messageContainer);
  }
</script>