<footer class="footer footer-center p-10 bg-primary text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSd8-7cvObhsLyyunyP07kEfIA0ylLzrSXWuQBWhgFYZHujdlg/viewform', class: 'link link-hover', target: '_blank' %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'link link-hover' %>
    <%= link_to '利用規約', terms_of_use_path, class: 'link link-hover' %>
  </nav>
  <aside>
    <p>Copyright © 2023 - All right reserved by WorkOasis</p>
  </aside>
</footer>
