<div class="hero min-h-screen bg-primary">
  <div class="hero-content flex items-center justify-center flex-col">
    <h1 class="text-5xl font-bold">WorkOasis</h1>
    <p class="text-xl mt-4">理想の作業環境を見つけるための究極のマップアプリ</p>
  </div>
</div>

<div class="hero min-h-screen bg-neutral">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="mt-4"> <!-- ここに mt-4 クラスを追加 -->
      <%= image_tag('cafe1.jpg', class: 'max-w-xl rounded-lg shadow-2xl') %>
    </div>
    <div class="mt-8 lg:mt-0 lg:ml-16">
      <div class="text-4xl font-bold">
        あなたのパーソナルな<br>作業スペースマップ
      </div>
      <div class="mt-4">
        <p class="text-xl">
          WorkOasisは、作業環境を探し求める人々のため</br>の革新的なマップアプリです。
        </p>
        <p class="text-xl">
          カフェ、コワーキングスペース、図書館など</br>あなたが集中して作業できる理想的な場所を探しましょう。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="hero min-h-screen bg-accent">
  <div class="hero-content flex-col lg:flex-row">
    <div class="mt-4">
      <%= image_tag('computer.jpg', class: 'max-w-xl rounded-lg shadow-2xl') %>
    </div>
    <div class="mt-8 lg:mt-0 lg:ml-16">
      <div class="text-4xl font-bold">
        作業スペースマップ<br>あなたのパーソナルな
      </div>
      <div class="mt-4">
        <p class="text-xl">
          革新的なマップアプリです。</br>作業環境を探し求める人々のため
        </p>
        <p class="text-xl">
          あなたが集中して作業できる理想的な場所を探しましょう。</br>カフェ、コワーキングスペース、図書館など
        </p>
      </div>
    </div>
  </div>
</div>


<div class="hero min-h-screen bg-secondary">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="mt-4"> <!-- ここに mt-4 クラスを追加 -->
      <%= image_tag('library.jpg', class: 'max-w-xl rounded-lg shadow-2xl') %>
    </div>
    <div class="mt-8 lg:mt-0 lg:ml-16">
      <div class="text-4xl font-bold">
        あなたのパーソナルな<br>作業スペースマップ
      </div>
      <div class="mt-4">
        <p class="text-xl">
          WorkOasisは、作業環境を探し求める人々のため</br>の革新的なマップアプリです。
        </p>
        <p class="text-xl">
          カフェ、コワーキングスペース、図書館など</br>あなたが集中して作業できる理想的な場所を探しましょう。
        </p>
      </div>
    </div>
  </div>
</div>


<div class="flex items-center justify-center min-h-screen bg-white">
  <div class="max-w-3xl">
    <%= link_to login_path, class: "inline-block bg-white text-black text-xl font-bold py-6 px-10 rounded-lg border border-black hover:bg-gray-200" do %>
      さあ、始めよう！
    <% end %>
  </div>
</div>
