<%= form_with(model: [@workspace, @review], url: workspace_reviews_path(@workspace)) do |form| %>
  <%= render 'review_form_fields', form: form %>
  <div class="text-center">
    <%= form.submit t('reviews.new.submit_button'), class: 'px-4 py-2 bg-indigo-600 border border-transparent rounded-md text-white active:bg-indigo-800 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50' %>
  </div>
<% end %>

<%= render 'star_rating' %>
